#main {
    background-image: url('/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1f1f1f;
}

.ContainerTales{
    border: 1px black solid;
    display: flex;
}

.TalesHomeBtn{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1%;
    margin-left: 1%;
    margin-block-end: 1%;
    color: white;
    padding: 0 1em;
    border-radius: 120px;
}

.TalesHomeBtn:hover{
    box-shadow: 0 0 10px #fff inset;
    
}

.BarSearch{
    margin-left: 18%;
    border: 1px solid black;
    border-radius: 10px;
    padding-right: 500px;
    padding-top: 5px;
    padding-block-end: 5px;
    font-size: 20px;
    margin-top: 1%;
    height: 50px;
}

.BarSearch::placeholder{
    margin-left: 50%;
    width: 100%;
}
/*essa é o "container com as infos do jogo q fica em cima */
.game {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #1f1f1f;
    color: white;
    padding: 1%;
}


.img {
    width: 23vw;
    margin-left: 10%;
    border-radius: 6px;
}

.gameInfos {
    margin-top: 2%;
    margin-left: -1%;
}

.gameInfos h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 3%;
}

.gameInfos p {
    border-bottom: 1px solid white;
    width: 90%;
    padding: 1%;
}

.video {
    border: 1px solid white;
    border-radius: 6px;
    width: 100%;
    margin: 0.2%;
    margin-top: 1%;
    margin-bottom: 10%;
}

/*essa é o "container com as infos do jogo q fica em baixo (container na pag inteira) */
.page {
    background-color: #1f1f1f;
    border: 1px solid rgba(255, 255, 255, 0.363);
}

.formRating {
    border: 1px solid white;
    padding: 1%;
    margin-bottom: 4%;
    border-radius: 6px;
}

.value {
    background-color: rgba(255, 255, 255, 0.452);
    color: rgb(184, 14, 14);
    border-radius: 6px;
    width: 20%;
    padding-left: 1%;
    height: 5%;
}

.comment {
    margin-top: 1%;
    background-color: rgba(255, 255, 255, 0.452);
    color: white;
    border-radius: 6px;
    width: 40%;
    padding: 1%;
    resize: none;
}

.comment::placeholder{
    color: rgb(255, 255, 255);
}

.formRating h2 {
    color: white;
    padding: 1%;
}

.submitBtn {
    width: 40%;
    height: 10%;
    background-color: white;
    border-radius: 6px;
}

.submitBtn:hover {
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
}

.ratings {
    margin-bottom: 10%;
    border: 1px solid rgba(255, 255, 255, 0.466);
    border-radius: 6px;
    padding: 1%;
    margin-left: 0.1%;
    margin-right: 0.1%;
}

.ratingCard {
    border: 2px solid rgb(94, 92, 255);
    border-radius: 6px;
    color: white;
    padding: 3%;
    margin-bottom: 2%;
}

.ratingCard .rValue {
    text-align: right;
}

.rInfos {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-right: 10%;
    font-size: 18px;
}

.rValue {
    text-align: right;
}

.rComment {
    border-top: 1px solid rgba(255, 255, 255, 0.603);
    border-bottom: 1px solid rgba(255, 255, 255, 0.623);
}




.star_rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}


.radio_hide {
    position: fixed;
    opacity: 0;
}

.radio_star {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.452);
}

.radio_star:before {
    content: '★';
    display: inline-block;
    font-size: 30px;
}

.radio_star:hover ,
.radio_star:hover~.radio_star {
    color: goldenrod;
}

.radio_hide:checked~.radio_star {
    color: gold;
}

.ContainerDownload{
    border: 1px black solid;
    margin-top: 4%;
    width: 23%;
    padding: 1%;
    border-radius: 15px;
    background-color: white;
    height: 20%;
    margin-left: 2%;
}

.BtnDownload{
    font-size: 22px;
    color: black;
}

.TextDownload{
    font-size: 13px;
    color: black;

}

.imgDownload{
    width: 50px;
    height: 50px;
    margin-left: 80%;
    margin-top: -18%;
}

.gameGenre::after{
    content: ".";
}

.imageContainer{
    margin-top: 3%;
    margin-left: 2%;
}

.ImgGame {
    margin-top: 3%;
    width: 250px; /* Tamanho fixo */
    height: 150px; /* Tamanho fixo */
    border-radius: 20px;
    transition: transform 0.3s ease; /* Transição suave */
    cursor: pointer;
    object-fit: cover; /* Para manter a proporção */
}

.ImgGameZoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 650px; /* Tamanho fixo para ampliar */
    height: 390px; /* Tamanho fixo para ampliar */
    transform: translate(-50%, -50%) scale(1.5); /* Aumenta o tamanho */
    z-index: 1000; /* Traz a imagem para frente */
    cursor: zoom-out;
    transition: transform 0.3s ease; /* Animação suave ao ampliar */
    max-width: none; /* Remove restrições de largura máxima */
    max-height: none; /* Remove restrições de altura máxima */
    border: 6px solid white;
}


.closeButton {
    position: fixed;
    top: 142px;
    margin-left: 44.8%;
    background-color: black;
    color: white;
    font-size: 24px;
    margin-right: 12%;
    border: none;
    border-radius: 50%;
    padding: 0px 10px;
    cursor: pointer;
    z-index: 1001; 
    width: 38px;
}

/* Para garantir que o botão "X" apareça apenas quando a imagem estiver ampliada */
.hide {
    display: none;
}

.ContainerDownloadImage{
    display: flex;
}

.ratingtitle{
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.356);
    margin-left: 42.5%;
    margin-right: 42.5%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    margin-block-end: 3%;
    margin-top: -6%;
}