.container{
    border: 0.1rem black solid;
    margin-right: 75%;
    display: grid;
}

.NavSeachBar{
    display: flex;
    
}

.lupa{
    width: 10%;
    height: 10%;
}

.SearchBar{
    border: 1px black solid;
    padding: 4px 12px;
    border-radius: 10px;
}

.container2{
    display: flex;
}

.imgMario{
    height: 60px;
    width: 60px;
    
}

.title{
    font-size: 23px;
}

.container3{
    margin: 10px;
}

.BtnLogin{
    margin-right: 10px;
    border: 1px rgba(0, 0, 0, 0.235) solid;
    padding: 6px 45px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #bbc4c4;
    color: #181c25;
}

.BtnRegister{
    margin-right: 10px;
    border: 1px black solid;
    padding: 6px 45px;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.regionWrapper {
    display: flex;
    align-items: center;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 8px;
    padding: 1px 3px;
    background-color: white;
    width: 90%;
    max-width: 400px;
  }
  
  .regionLabel {
    color: #41495a;
    font-size: 16px;
    margin-right: 5px;
    white-space: nowrap;
  }
  
  .regionSelect {
    background: none;
    border: none;
    color: #41495a;
    font-size: 16px;
    flex: 1; 
    outline: none;
    padding: 8px 0; 
}

.container3{    
    padding-left: 30px;
    border: 1px transparent solid;
}


.sidebar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menuItem {
    margin-left: 25px;
    display: flex;
    align-items: center; 
    padding: 10px 0; 
}
  
.icon {
    width: 24px; 
    height: 10px; 
    margin-right: 10px; 
}
  
.text {
    font-size: 16px; 
    color: #000; 
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.rightContainer{
    margin-top: -190%;
}

.card{
    width: 65%;
    height: 48vh;
    background-image: url(https://upload.wikimedia.org/wikipedia/pt/7/74/The_Wolverine_posterUS.jpg);
    border: 1px solid black;
    display: grid;
    padding: 1%;
    margin-left: 120%;
    position: relative;
}

.cardImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.cardInfos{
    margin-top: 110.9%;
    border: 1px black solid;
    background-color: rgba(243, 8, 8, 0.384);
    margin-left: -1.8%;
    margin-right: -1.8%;
    color: white;
}

.cardInfos h2 {
    margin: 0;
    font-size: 1.2rem;
    color: white;
}

.cardInfos p {
    color: black;
    color: white;
}
