.container{
    border: 1px black solid;
    display: flex;
}

.title{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1%;
    margin-left: 1%;
    margin-block-end: 1%;
}

.p{
    margin-top: 1.65%;
    margin-left: 5%;
    font-size: 20px;
}

.NavBarLog{
    margin-top: 1.4%;
    margin-left: 5%;
}

.NavBarSearch{
    margin-top: 1.5%;
    margin-left: 5%;
}

.NavBarSearch::target-text{
    font-size: 40px;
}

.BarSearch{
    border: 1px solid black;
    border-radius: 10px;
    padding-right: 200px;
    padding-top: 5px;
    padding-block-end: 5px;
    font-size: 20px;
}

.BarSearch::placeholder{
    font-size: 20px;
    padding-left: 15px;
}

.BtnLogin{
    margin-right: 10px;
    border: 1px rgba(0, 0, 0, 0.235) solid;
    padding: 6px 45px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #bbc4c4;
    color: #181c25;
}

.BtnRegister{
    margin-right: 10px;
    border: 1px black solid;
    padding: 6px 45px;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.card{
    width: 15%;
    height: 15%;
    background-size: cover;
    display: grid;
    margin-left: 5%;
    margin-top: 3%;
    position: relative;
}

.cardImg {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.cardInfos{
    margin-left: 4%;
    color: black;
}

.cardInfos h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cardInfos h2:hover{
    color: rgb(250, 0, 0);
}

