.container{
    border: 1px black solid;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    height: 63vh;
    border-radius: 20px;
}

.title{
    margin-top: 6%;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
}



.forminput{
    border: 1px solid black;
    width: 57%;
    height: 70%;
    border-radius: 4px;
}

.formlabel{
    font-size: 14px;
    margin-right: 15%;
}

.formspan{
    font-size: 12px;
    text-decoration: underline;
}

.BntRegister{
    border: 1px solid black;
    background-color: black;
    color: white;
    margin-left: 110px;
    margin-right: 110px;
    border-radius: 11px;
    line-height: 1.125;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;  
}

.container2{
    display: flex;
    margin-top: 5%;
    margin-left: 38%;
}

.IconFacebook{
    height: 30px;
    width: 30px;
}

.IconGoogle {
    height: 40px;
    width: 40px;
    margin-block-start: -1%;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
}

.IconGoogle img {
    height: 100%; /* Garante que a imagem ocupe toda a altura do container */
    width: auto; /* Mantém a proporção da imagem */
}
